.change-password-container {
    width: 260%; /* Increased width for a grander appearance */
    max-width: 800px; /* Added a max-width for better responsiveness */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff; /* Background remains white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow remains */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: blue;
    margin-top: 10px;
  }
  
  .wouh {
    position: absolute;
    left: 23%;
    top: 0%;
    width: 77%;
    height: 100%;
    background-color: #f7f9ff;
  }
  
  .m {
    position: absolute;
    left: 35%;
    top: 8%;
  }
  