
    <app-dashborda></app-dashborda>
    <div class="wouh"></div>
    <div class="d"><div class="container">
        <div class="form-content">
          <div class="emploi-form">
            <div class="title">Add Emploi</div>
            <form [formGroup]="emploiForm" (ngSubmit)="submitForm()">
              <div class="input-boxes">
          
  
                <div class="input-box">
                  <i class="fas fa-calendar"></i>
                  <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut" required>
                </div>
  
                <div class="input-box">
                  <i class="fas fa-calendar"></i>
                  <input type="date" class="form-control" id="dateFin" formControlName="dateFin" required>
                </div>
  
                <div class="input-box">
                  <i class="fas fa-users"></i>
                  <select formControlName="classeName" required>
                    <option value="" disabled selected>Select Classe</option>
                    <option *ngFor="let classe of filteredClasses" [value]="classe.nomClasse">{{ classe.nomClasse }}</option>
                  </select>
                </div>
  
                <div class="input-box">
                  <i class="fas fa-file-upload"></i>
                  <input type="file" class="form-control" id="file" (change)="onFileSelected($event)" >
                </div>   
                           
  
                <button type="submit" class="btn btn-primary" [disabled]="emploiForm.invalid">
                  {{ selectedEmploiId ? 'Update Emploi' : 'Add Emploi' }}
                </button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
          
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Class</th>
            <th>File</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emploi of emplois">
            <td>{{ emploi.dateDebut | date:'shortDate' }}</td>
            <td>{{ emploi.dateFin | date:'shortDate' }}</td>
            <td>{{ emploi.classe.nomClasse }}</td>
            <td>
              <a *ngIf="emploi.filePath" [href]="'http://localhost:8098/' + emploi.filePath" target="_blank">
                <img 
                  [src]="'http://localhost:8098/' + emploi.filePath" 
                  alt="Preview" 
                  style="width: 100px; height: auto; cursor: pointer;"
                />
              </a>
              <span *ngIf="!emploi.filePath">No file uploaded</span>
            </td>
            <td>
              <button class="btn btn-primary edit-btn" (click)="editEmploi(emploi)">Edit</button>
              <button class="btn btn-danger delete-btn" (click)="deleteEmploi(emploi.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
          </div>

 
 